<!DOCTYPE html>
<html>
  <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
   <title>Edit movie</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
   <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" type="text/css" rel="stylesheet">
   <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Movies</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/">Home</a></li>
      {% ifequal user.role "admin" %}
      <li><a href="/addmovie">Add new movie</a></li>
      {% endifequal %}
    </ul>
    <ul class="nav navbar-nav navbar-right">
      {% ifequal authenticated "false" %}
      <li><a href="/register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      {% endifequal %}
      {% ifequal authenticated "true" %}
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> {{user.name}} {{user.surname}}</a></li>
        <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
      {% endifequal %}
    </ul>
  </div>
</nav>

<div class="container wrapper">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
          <h1>Add new movie:</h1><br>
          {{error}}
          <div class="form-group">
            <form action="/editmovie/{{movie.id}}" method="post">
              <label for="name">Name:</label>
              <input type="text" name="name" id="name" value="{{movie.name}}" class="form-control"><br>
              <label for="released">Date released:</label>
              <input type="date" name="released" id="released" value="{{movie.released}}" class="form-control" ><br>
              <label for="description">Description:</label>
              <textarea name="description" id="description" class="form-control">{{movie.description}}</textarea> <br><br>
              <input type="submit" value="Edit movie" class="form-control" >
            </form>
          </div>
    </div>
  </div>
</div>

</body>
</html>
