<!DOCTYPE html>
<html>
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
   <title>{{movie.name}}</title>
   <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" type="text/css" rel="stylesheet">
   <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>

  <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Movies</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/">Home</a></li>
      {% ifequal user.role "admin" %}
      <li><a href="/addmovie">Add new movie</a></li>
      <li><a href="/users">Users</a></li>
      {% endifequal %}
    </ul>
    <ul class="nav navbar-nav navbar-right">
      {% ifequal authenticated "false" %}
      <li><a href="/register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      {% endifequal %}
      {% ifequal authenticated "true" %}
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> {{user.name}} {{user.surname}}</a></li>
        <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
      {% endifequal %}
    </ul>
  </div>
</nav>

<div class="container wrapper">
  <div class="row text-center">
    <h1>{{movie.name}}</h1>
  </div>

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h3>Release date: {{movie.released}}<br/>
          Rating: {{average}}
      </h3>
      {% ifequal authenticated "true" %}
      {% ifequal rated "true" %}
        <h3>Your rating: {{rating.rating}}</h3>
        <button id="updrating">Update rating</button>
        <form action="/updaterating" method="post">
          <input type="number" min="1" max="10" step="1" name="rating" hidden="true" id="numrating"/>
          <input type="hidden" value="{{movie.id}}" name="movie" />
          <input type="hidden" value="{{user.username}}" name="user" />
          <input type="submit" value="Save change" hidden="true" id="btnrating">
          <input type="button" value="Cancel" hidden="true" id="btncrating">
        </form>
        <form action="/deleterating" method="POST">
                <input type="hidden" value="{{movie.id}}" name="movie" />
                <input type="hidden" value="{{user.username}}" name="user" />
                <input type="submit" value="Remove rating"/>
        </form>
      {% endifequal %}
      {% endifequal %}
      {% ifequal authenticated "true" %}
      {% ifequal rated "false" %}
        <form action="/ratemovie" method="post">
          Rate this move(1-10):
          <input type="number" min="1" max="10" step="1" name="rating"/>
          <input type="hidden" value="{{movie.id}}" name="movie" />
          <input type="hidden" value="{{user.username}}" name="user" />
          <input type="submit" value="Rate">
        </form>
      {% endifequal %}
      {% endifequal %}
      <h3>Description: </h3>
      <p>{{movie.description}}</p><hr>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1>Comments</h1>
      {% ifequal authenticated "true" %}
        <form id="commentform" action="/addcomment" method="post">
          <input type="hidden" value="{{movie.id}}" name="movie" />
          <input type="hidden" value="{{user.username}}" name="user" />
          Your comment:<br/>
          <textarea rows="4" cols="90" name="text">Enter comment here...</textarea><br/>
          <input style="margin-left: 75%;" type="submit" value="Comment"/> <hr/>
        </form>
      {% endifequal %}
      <br/>

        {% for comment in comments %}
          <div style="float: right;">
            <form action="/editcomment" method="post">
              <input type="hidden" value="{{comment.id}}" name="id" />
              <input type="hidden" value="{{movie.id}}" name="movie" />
              <input type="hidden" value="{{user.username}}" name="user" />
              <textarea rows="4" cols="90" id="txtcomment{{comment.id}}" name="text" readonly="true">{{comment.text}}</textarea><br/>
              <p style="float: right;" > by {{comment.user}} </p>
              {% ifequal user.role "user" %}
              {% ifequal comment.user user.username %}
              <input id="savebtn{{comment.id}}" type="submit" value="Save" hidden="true" />
              <input id="cancelbtn{{comment.id}}" type="button" value="Cancel" hidden="true" /> <br/>
              {% endifequal %}
              {% endifequal %}

              {% ifequal user.role "admin" %}
              <input id="savebtn{{comment.id}}" type="submit" value="Save" hidden="true" />
              <input id="cancelbtn{{comment.id}}" type="button" value="Cancel" hidden="true" /> <br/>
              {% endifequal %}
            </form>

            {% ifequal user.role "user" %}
            {% ifequal comment.user user.username %}
              <button id="editbtn{{comment.id}}">Edit comment</button>
              <form action="/deletecomment/{{comment.movie}}&{{comment.id}}" method="get">
                <input type="submit" value="Delete comment"/>
              </form>
              <br/>
              <br/>
            {% endifequal %}
            {% endifequal %}

            {% ifequal user.role "admin" %}
            {% ifequal comment.user user.username %}
              <button id="editbtn{{comment.id}}">Edit comment</button>
            {% endifequal %}
              <form action="/deletecomment/{{comment.movie}}&{{comment.id}}" method="get">
                <input type="submit" value="Delete comment"/>
              </form>
              <br/>
              <br/>
            {% endifequal %}


            <script>
              $(document).ready(function(){
                $("#editbtn{{comment.id}}").click(function(){
                  $("#savebtn{{comment.id}}").show();
                  $("#cancelbtn{{comment.id}}").show();
                  document.getElementById('txtcomment{{comment.id}}').removeAttribute('readonly')
                });
                $("#cancelbtn{{comment.id}}").click(function(){
                  document.getElementById('txtcomment{{comment.id}}').value = '{{comment.text}}';
                  $("#savebtn{{comment.id}}").hide();
                  $("#cancelbtn{{comment.id}}").hide();
                  document.getElementById('txtcomment{{comment.id}}').readOnly = true;
                });
                $("#updrating").click(function(){
                  $("#btnrating").show();
                  $("#numrating").show();
                  $("#btncrating").show();
                  document.getElementById('numrating').value = {{rating.rating}};
                });
                $("#btncrating").click(function(){
                  $("#btnrating").hide();
                  $("#numrating").hide();
                  $("#btncrating").hide();
                });
              });
            </script>
          </div>
        {% endfor %}
    </div>
  </div>
</div>

</body>
</html>
